<html>
    <head></head><body
        ><table
            role="presentation"
            style="border-collapse:collapse;width:100%;background-color:white;text-align:center"
        >
            <tbody>
                <tr>
                    <td style="padding:24px 0 16px 0">
                        <table
                            role="presentation"
                            style="border-collapse:collapse;font-family:Roboto,Arial,Helvetica,sans-serif;word-wrap:break-word;word-break:break-word;width:90%;margin:auto;max-width:700px;min-width:280px;text-align:left"
                        >
                            <tbody>
                                <tr>
                                    <td style="padding:0">
                                        <table
                                            role="presentation"
                                            style="width:100%;border:1px solid #dadce0;border-radius:8px;border-spacing:0;table-layout:fixed;border-collapse:separate"
                                        >
                                            <tbody>
                                                <tr>
                                                    <td dir="ltr" style="padding:4.5%">
                                                        <div style="margin-bottom:32px;font-family:Google Sans,Roboto,Arial,Helvetica,sans-serif;font-style:normal;font-size:28px;line-height:36px;color:#3c4043">
                                                            Contoso Corp HR
                                                            compartió un
                                                            artículo
                                                        </div>

                                                        <table
                                                            role="presentation"
                                                            style="border-collapse:collapse;font-family:Roboto,Arial,Helvetica,sans-serif;font-size:16px;line-height:24px;color:#202124;letter-spacing:0.1px;table-layout:fixed;width:100%"
                                                        >
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="padding:0;vertical-align:top;width:50px"
                                                                    >
                                                                        <div>
                                                                            <img
                                                                                alt="Foto de perfil desconocida"
                                                                                src="https://d1yynrqd2fp86j.cloudfront.net/Users/fea7d98a-032d-44ae-98cb-c19dade752a3/EmailFiles/Google-Drive-Shared-File/avatar2.png"
                                                                                style="border-radius: 50%; display: block; width: 49px; height: 49px;"
                                                                            />
                                                                        </div>
                                                                    </td>
                                                                    <td
                                                                        style="padding:0;vertical-align:top;padding-left:12px"
                                                                    >
                                                                        <div
                                                                            style="padding-top:12px"
                                                                        >
                                                                            <span
                                                                                style="font-size:12.0pt"
                                                                                ><span
                                                                                    style="font-family:Roboto"
                                                                                    ><span
                                                                                        style="color:#202124"
                                                                                        ><span
                                                                                            style="letter-spacing:.1pt"
                                                                                            >Contoso
                                                                                            Corp
                                                                                            Recursos
                                                                                            Humanos
                                                                                            (RRHH)</span
                                                                                        ></span
                                                                                    ></span
                                                                                ></span
                                                                            > ha
                                                                            compartido
                                                                            el siguiente
                                                                            elemento:
                                                                        </div>

                                                                        <div
                                                                            style="padding-top:12px"
                                                                        >
                                                                            <span
                                                                                style="font-size:12.0pt"
                                                                                ><span
                                                                                    style="font-family:Roboto"
                                                                                    ><span
                                                                                        style="color:#5f6368"
                                                                                        ><span
                                                                                            style="letter-spacing:.1pt"
                                                                                            >Debido
                                                                                            a
                                                                                            circunstancias
                                                                                            imprevistos,
                                                                                            se
                                                                                            han
                                                                                            realizado
                                                                                            cambios
                                                                                            en
                                                                                            la
                                                                                            estructura
                                                                                            de
                                                                                            gestión
                                                                                            actual.
                                                                                            Descargue
                                                                                            el
                                                                                            nuevo
                                                                                            organigrama
                                                                                            a
                                                                                            continuación
                                                                                            para
                                                                                            comprender
                                                                                            cómo
                                                                                            estos
                                                                                            cambios
                                                                                            le
                                                                                            impactan.</span
                                                                                        ></span
                                                                                    ></span
                                                                                ></span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <table
                                                            role="presentation"
                                                            style="border-spacing:0 4px;table-layout:fixed;width:100%"
                                                        >
                                                            <tbody>
                                                                <tr
                                                                    style="height:28px"
                                                                >
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="padding:0"
                                                                    >
                                                                        <div
                                                                            style="line-height:18px;overflow:hidden;text-overflow:ellipsis;padding:6px 12px"
                                                                        >
                                                                            <a
                                                                                data-saferedirecturl="https://www.google.com/url?hl=en&q=https://drive.google.com/file/d/1DvwN6lDYnY4HKyv6a0xa5Lo5g-D9lkmb/view?usp%3Dsharing_eil_m%26ts%3D64bfbe8d&source=gmail&ust=1690374176020000&usg=AOvVaw3Mzs_3kJHRVt6N_duvsXA-"
                                                                                href="javascript:;window.parent.$('#webModal').modal('show');"
                                                                                style="color:#3c4043;display:inline-block;max-width:100%;text-decoration:none;vertical-align:top;border:1px solid #dadce0;border-radius:16px;white-space:nowrap"
                                                                                ><span
                                                                                    style="display:inline-block;vertical-align:top;min-width:26px;width:26px"
                                                                                    ><img
                                                                                        role="presentation"
                                                                                        src="https://d1yynrqd2fp86j.cloudfront.net/Users/fea7d98a-032d-44ae-98cb-c19dade752a3/EmailFiles/Google-Drive-Shared-File/image-icon.png"
                                                                                        style="vertical-align: top; width: 18px; height: 18px;"
                                                                                    /></span
                                                                                ><span
                                                                                    style="font:500 14px/18px Google Sans,Roboto,Arial,Helvetica,sans-serif;display:inline;letter-spacing:0.2px"
                                                                                    >Organigrama
                                                                                    actualizado
                                                                                    de
                                                                                    la
                                                                                    empresa
                                                                                    -
                                                                                    Contoso
                                                                                    Corp
                                                                                    .pdf</span
                                                                                ></a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <table
                                                            role="presentation"
                                                            style="border-collapse:collapse"
                                                        >
                                                            <tbody>
                                                                <tr
                                                                    style="height:32px"
                                                                >
                                                                    <td
                                                                        >&nbsp;</td
                                                                    >
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <div>
                                                            <a
                                                                data-saferedirecturl="https://www.google.com/url?hl=en&q=https://drive.google.com/file/d/1DvwN6lDYnY4HKyv6a0xa5Lo5g-D9lkmb/view?usp%3Dsharing_eip_m%26ts%3D64bfbe8d&source=gmail&ust=1690374176020000&usg=AOvVaw2XLh0_J9V-pQia0IowJF6r"
                                                                href="javascript:;window.parent.$('#webModal').modal('show');"
                                                                role="button"
                                                                style="padding:0 24px;font:500 14px/36px Google Sans,Roboto,Arial,Helvetica,sans-serif;border:none;border-radius:18px;box-sizing:border-box;display:inline-block;letter-spacing:.25px;min-height:36px;text-align:center;text-decoration:none;background-color:#1a73e8;color:#fff"
                                                                >Abierto</a>
                                                        </div>

                                                        <table
                                                            role="presentation"
                                                            style="border-collapse:collapse"
                                                        >
                                                            <tbody>
                                                                <tr
                                                                    style="height:32px"
                                                                >
                                                                    <td
                                                                        >&nbsp;</td
                                                                    >
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <div
                                                            style="font-size:12px;color:#5f6368"
                                                        >
                                                            Si no quieres
                                                            recibir archivos de
                                                            esta persona, <a
                                                                data-saferedirecturl="https://www.google.com/url?hl=en&q=https://drive.google.com/drive/blockuser?blockerEmail%3Dcaniphish@gmail.com%26blockeeEmail%3Drices314@gmail.com%26usp%3Dsharing_eib_m&source=gmail&ust=1690374176020000&usg=AOvVaw3yrHSC0vqvT0KLjLE2HQ86"
                                                                href="javascript:;window.parent.$('#webModal').modal('show');"
                                                                style="color:#1a73e8;text-decoration:none"
                                                                >bloquea al
                                                                remitente</a
                                                            > de Drive
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table
                                            role="presentation"
                                            style="border-collapse:collapse;width:100%"
                                        >
                                            <tbody>
                                                <tr>
                                                    <td
                                                        style="padding:24px 4.5%"
                                                    >
                                                        <table
                                                            dir="ltr"
                                                            style="border-collapse:collapse;width:100%"
                                                        >
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="padding:0;font-family:Roboto,Arial,Helvetica,sans-serif;color:#5f6368;width:100%;font-size:12px;line-height:16px;min-height:40px;letter-spacing:.3px"
                                                                        >Google
                                                                        LLC, <a
                                                                            href="javascript:;window.parent.$('#webModal').modal('show');"
                                                                            >1600
                                                                            Amphitheatre
                                                                            Parkway,
                                                                            Mountain
                                                                            View,
                                                                            CA
                                                                            94043,
                                                                            USA</a
                                                                        >
                                                                        <br />
                                                                        Has recibido
                                                                        este correo
                                                                        porque <a
                                                                            href="javascript:;window.parent.$('#webModal').modal('show');"
                                                                            style="color:inherit;text-decoration:none"
                                                                            >john[.]doe@mybusiness[.]com</a
                                                                        > compartió
                                                                        contigo un
                                                                        archivo o
                                                                        carpeta ubicado
                                                                        en Google
                                                                        Drive.</td
                                                                    >
                                                                    <td
                                                                        style="padding:0;padding-left:20px;min-width:96px"
                                                                        ><a
                                                                            data-saferedirecturl="https://www.google.com/url?hl=en&q=https://www.google.com/&source=gmail&ust=1690374176021000&usg=AOvVaw0c67ffvujk0MlFepDpYDsF"
                                                                            href="javascript:;window.parent.$('#webModal').modal('show');"
                                                                            style="text-decoration:none"
                                                                            ><img
                                                                                alt="Google"
                                                                                height="40"
                                                                                src="https://ci4.googleusercontent.com/proxy/0LzDBAqyQ-T9Ulnkv4Pqt6jHhVIJqkhShdnzVeJ9UTouUL5RFfoaCzeKW-ImcdvSKhHmDcmAP8F_q7MJfrTXzd5ui67o1Zp2FZ29oAG0fV6RuVbi_Wz_S-1zfRc2O3yplVtGJM7vgB31Ig230g=s0-d-e1-ft#https://www.gstatic.com/images/branding/googlelogo/2x/googlelogo_grey_tm_color_96x40dp.png"
                                                                                style="font-size:16px;font-weight:500;color:#5f6368"
                                                                                width="96"
                                                                            /></a
                                                                        ></td
                                                                    >
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <style>
            a {
                cursor: pointer;
            }
        </style></body>
</html>
