---
import Layout from "@/layouts/dashboard.astro";

import { Separator } from "@/components/ui/separator";
import { Label } from "@/components/ui/label";
import { Input } from "@/components/ui/input";
import { Textarea } from "@/components/ui/textarea";
import { Button } from "@/components/ui/button";
import { Toaster } from "@/components/ui/sonner";

import GroupsTable from "@/components/dashboard/campaigns/groups-table";

import { app } from "@/firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import type { PhishingUser } from "@/types";

const db = getFirestore(app);
const phishingUsersRef = db.collection("phishingUsers");

const allUsersSnapshot = await phishingUsersRef.get();
const users: PhishingUser[] = allUsersSnapshot.docs.map((doc: any) =>
  doc.data()
);
---

<Layout title="Campañas">
  <Toaster client:only />
  <main class="space-y-6">
    <section aria-labelledby="upload-heading">
      <form id="uploadForm" class="flex flex-col gap-4">
        <header>
          <h3 id="upload-heading" class="text-lg font-medium mb-2">
            Cargar usuarios
          </h3>
        </header>

        <div class="space-y-4">
          <div class="grid gap-2">
            <Label htmlFor="group">Grupo</Label>
            <Input
              id="group"
              type="text"
              placeholder="Ingrese el nombre del grupo"
              className="w-full max-w-md"
            />
          </div>

          <div class="grid gap-2">
            <Label htmlFor="usersList">Usuarios (uno por línea)</Label>
            <Textarea
              id="usersList"
              name="users"
              rows={6}
              className="w-full max-w-2xl"
              placeholder={"Juan Perez,juan@example.com\nMaria Lopez,maria@example.com"}
            />
          </div>

          <div class="mt-2">
            <Button type="submit">Cargar usuarios</Button>
          </div>
        </div>
      </form>
    </section>

    <Separator className="my-6" />

    <section class="overflow-auto" aria-labelledby="users-table-heading">
      <header class="mb-4">
        <h3 id="users-table-heading" class="text-lg font-medium">
          Lista de Usuarios
        </h3>
      </header>

      <GroupsTable client:only="react" data={users} />
    </section>
  </main>
</Layout>

<script>
  async function handleUpload(e: SubmitEvent) {
    e.preventDefault();
    const textarea = document.getElementById(
      "usersList"
    ) as HTMLTextAreaElement;

    const users = textarea.value
      .split("\n")
      .filter((line) => line.trim())
      .map((line) => {
        const [name, email] = line.split(",").map((s) => s.trim());
        return { name, email };
      });

    try {
      const response = await fetch("/api/phishingUsers", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(users),
      });

      if (response.ok) {
        location.reload();
      }
    } catch (error) {
      console.error("Error:", error);
    }
  }

  const uploadForm = document.getElementById("uploadForm") as HTMLFormElement;
  uploadForm.addEventListener("submit", handleUpload);
</script>
