---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { Label } from "@/components/ui/label";
import { Input } from "@/components/ui/input";
import { Button } from "@/components/ui/button";

import Layout from "@/layouts/dashboard.astro";

let smtpConfig = null;

try {
  const response = await fetch(`${Astro.url.origin}/api/settings/smtp`);
  if (response.ok) {
    smtpConfig = await response.json();
  }
} catch (error) {
  console.error("Error al obtener la configuración SMTP:", error);
}
---

<Layout title="Configuración SMTP">
  <Card id="smtp">
    <CardHeader>
      <CardTitle>Configuración SMTP</CardTitle>
    </CardHeader>
    <CardContent>
      <form id="configForm" class="flex flex-col gap-2">
        <Label htmlFor="host">Host y Puerto</Label>
        <div class="flex gap-2">
          <Input
            className=""
            id="host"
            type="text"
            placeholder="smtp.example.com"
            defaultValue={smtpConfig?.host || ""}
            autoComplete="off"
          />
          <Input
            className="flex-1/4 md:flex-1/6 lg:flex-1/11"
            id="port"
            type="number"
            placeholder="Puerto"
            min={0}
            max={65535}
            defaultValue={smtpConfig?.port || "587"}
            autoComplete="off"
          />
        </div>

        <Label htmlFor="username">Usuario SMTP</Label>
        <Input
          id="username"
          type="text"
          placeholder="Ingrese el nombre de usuario"
          defaultValue={smtpConfig?.auth?.user || ""}
          autoComplete="off"
        />
        <Label htmlFor="password">Contraseña</Label>
        <Input
          id="password"
          type="password"
          placeholder="Ingrese la contraseña"
          autoComplete="off"
        />

        <div>
          <Button type="submit">Guardar cambios</Button>
        </div>
      </form>
    </CardContent>
  </Card>
</Layout>

<script>
  let config = document.getElementById("configForm")!;

  config.addEventListener("submit", async (e) => {
    e.preventDefault();

    const host = (document.getElementById("host") as HTMLInputElement)?.value;
    const port = parseInt(
      (document.getElementById("port") as HTMLInputElement)?.value
    );
    const username = (document.getElementById("username") as HTMLInputElement)
      ?.value;
    const password = (document.getElementById("password") as HTMLInputElement)
      ?.value;

    const data = {
      host,
      port,
      secure: false,
      auth: {
        user: username,
        pass: password,
      },
    };

    try {
      const response = await fetch("/api/settings/smtp", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data),
      });

      if (response.ok) {
        alert("Configuración guardada correctamente");
        location.reload();
      } else {
        alert("Error al guardar la configuración");
      }
    } catch (error) {
      console.error("Error:", error);
      alert("Error en el servidor");
    }
  });
</script>
