<div class="Ih3FE" aria-hidden="true">
  <div id="progressbar" class="sZwd7c B6Vhqe qdulke jK7moc">
    <div class="xcNBHc um3FLe"></div>
    <div class="w2zcLc Iq5ZMc"></div>
    <div class="MyvhI TKVRUb">
      <span class="l3q5xe SQxu9c"></span>
    </div>
    <div class="MyvhI sUoeld">
      <span class="l3q5xe SQxu9c"></span>
    </div>
  </div>
</div>
