---
import Layout from "@/layouts/Layout.astro";
import { RegisterForm } from "@/components/register-form";
---

<Layout title="Register">
  <div class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
    <div class="w-full max-w-sm">
      <RegisterForm client:only />
    </div>
  </div>
</Layout>
