---
interface Props {
    id?: string;
    class?: string;
}

const { id, class: className } = Astro.props;
---

<div class:list={["O1Slxf", className]} id={id}><div class="TNTaPb"><div class="XjS9D TrZEUc" id="passwordNext"><div class="VfPpkd-dgl2Hf-ppHlrf-sM5MNb"><button class="VfPpkd-LgbsSe VfPpkd-LgbsSe-OWXEXe-k8QpJ VfPpkd-LgbsSe-OWXEXe-dgl2Hf nCP5yc AjY5Oe DuMIQc LQeN7 BqKGqe Jskylb TrZEUc lw1w4b" type="button"><div class="VfPpkd-Jh9lGc"></div><div class="VfPpkd-J1Ukfc-LhBDec"></div><div class="VfPpkd-RLmnJb"></div><span class="VfPpkd-vQzf8d">Siguiente</span></button></div></div></div><div class="FO2vFd"><div class="XjS9D TrZEUc mWv92d"><div class="VfPpkd-dgl2Hf-ppHlrf-sM5MNb"><button class="VfPpkd-LgbsSe VfPpkd-LgbsSe-OWXEXe-dgl2Hf ksBjEc lKxP2d LQeN7 BqKGqe eR0mzb TrZEUc lw1w4b" type="button"><div class="VfPpkd-Jh9lGc"></div><div class="VfPpkd-J1Ukfc-LhBDec"></div><div class="VfPpkd-RLmnJb"></div><span class="VfPpkd-vQzf8d">Probar otra manera</span></button></div></div></div></div>
