---
interface Props {
  isActive: boolean;
}

const { isActive } = Astro.props;
---

<div class="Ih3FE" aria-hidden="true">
  <div
    role="progressbar"
    class:list={["sZwd7c B6Vhqe", !isActive ? "qdulke jK7moc" : ""]}
  >
    <div class="xcNBHc um3FLe"></div>
    <div class="w2zcLc Iq5ZMc"></div>
    <div class="MyvhI TKVRUb">
      <span class="l3q5xe SQxu9c"></span>
    </div>
    <div class="MyvhI sUoeld">
      <span class="l3q5xe SQxu9c"></span>
    </div>
  </div>
</div>
