---
import Dashboard from "../components/dashboard";
import "@/styles/global.css";

const currentPath = Astro.url.pathname;
const pathSegments = currentPath.split("/").filter(Boolean);

// Funci칩n para traducir los segmentos de la ruta
const translateSegment = (segment: "campaigns" | "templates" | "settings") => {
  const translationMap = {
    campaigns: "Campa침as",
    templates: "Plantillas y p치ginas",
    settings: "Configuraci칩n",
  };

  return translationMap[segment] || segment;
};

// Genera los items del Breadcrumb
const breadcrumbItems = pathSegments.map((segment: any, index) => {
  const translatedSegment = translateSegment(segment);
  const href = "/" + pathSegments.slice(0, index + 1).join("/");

  return {
    label:
      translatedSegment.charAt(0).toUpperCase() + translatedSegment.slice(1),
    href: index < pathSegments.length - 1 ? href : undefined,
  };
});
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Dashboard</title>
  </head>
  <body>
    <Dashboard client:load breadcrumbItems={breadcrumbItems}>
      <slot />
    </Dashboard>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
